.player-area {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . btn1 . ."
    ". btn2 . btn3 ."
    "btn4 . . . btn5";

  & .btn-1 {
    grid-area: btn1;
  }

  & .btn-2 {
    grid-area: btn2;
  }

  & .btn-3 {
    grid-area: btn3;
  }

  & .btn-4 {
    grid-area: btn4;
  }

  & .btn-5 {
    grid-area: btn5;
  }
}
